@model Donor_System.Models.BloodRequestRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BloodRequestRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BloodType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amtBloodRequested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amtBloodRequested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonationLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonationLocation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
