
@{
    ViewBag.Title = "Index";
}


<div class="breadcrumb-bg w3l-inner-page-breadcrumb py-5" style="height:50px ; ">

    <h2 class="title pt-5">Analysis</h2>
    <ul class="breadcrumbs-custom-path mt-3 text-center" style="height:50px">
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Analysis </li>
    </ul>

</div>
<!-- banner bottom shape -->
<div class="position-relative">
    <div class="shape overflow-hidden">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- banner bottom shape -->
<!-- //w3l-inner-page-breadcrumb-->


<div class="container py-lg-5 py-md-4 py-2">

    <div class="w3ls-heading">
        <h3>@ViewBag.Title</h3>
    </div>
    <p>@Html.ActionLink("View by BloodType", "BloodTypeChart", "Graph")</p>
    <div class="row" style="padding-left:100px">

        <canvas id="myChart" width="400" height="200"></canvas>


    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
        var labels = @Html.Raw(Json.Encode(ViewData["ChartLabels"]));
        var donatedData = @Html.Raw(Json.Encode(ViewData["DonatedData"]));
        var requestedData = @Html.Raw(Json.Encode(ViewData["RequestedData"]));

        var ctx = document.getElementById('myChart').getContext('2d');
        // Calculate the total amount of blood donated
        var totalDonated = donatedData.reduce(function (a, b) {
            return a + b;
        }, 0);

        // Calculate the total amount of blood requested
        var totalRequested = requestedData.reduce(function (a, b) {
            return a + b;
        }, 0);
        var difference = totalDonated - totalRequested;

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Amount of Blood Donated (in litres)',
                    data: donatedData,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }, {
                    label: 'Amount of Blood Requested (in litres)',
                    data: requestedData,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Total Blood Available: ' + difference.toFixed(2) + ' litres', // Display the sum as part of the chart title
                        fontSize: 16,
                        padding: 20,
                    },
                },
            }
        });

    </script>
